packages:
  yum:
    git: []

container_commands:
  # Reinstall PyCurl with correct ssl backend
  05_reinstall_pycurl:
    command: |
      eb
      pip uninstall -y pycurl
      pip install --global-option='--with-openssl' pycurl

  # Load static assets into S3
  20_collectstatic:
    command: "python manage.py collectstatic --noinput"
    leader_only: true

  # Run database migrations
  40_migrate:
    command: "python manage.py migrate --noinput"
    leader_only: true

# Path to wsgi.py
option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: oee/wsgi.py
