packages:
  yum:
    git: []

container_commands:
  # Reinstall PyCurl with correct ssl backend
  05_reinstall_pycurl:
    command: |
      eb
      pip uninstall -y pycurl
      pip install --global-option='--with-openssl' pycurl

  # Load static assets into S3
  20_collectstatic:
    command: "python manage.py collectstatic --noinput"
    leader_only: true

  # Run database migrations
  40_migrate:
    command: "python manage.py migrate --noinput"
    leader_only: true


files:
  # Redirect http traffic to https
  "/etc/httpd/conf.d/ssl_rewrite.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      RewriteEngine On
      <If "-n '%{HTTP:X-Forwarded-Proto}' && %{HTTP:X-Forwarded-Proto} != 'https'">
      RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R,L]
      </If>

# Path to wsgi.py
option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: oee/wsgi.py
